*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(Images/background-image.jpg);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    color: #fff;
}

.presentation {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'Comfortaa', sans-serif;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    margin-top: 6rem;
}

main{
    background-color: black;
    /* height: 100vh; */

}

/*Je design ma barre menu en appelant l'html que j'ai créé pour ça avec son id navbar*/
nav {
    background-color: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.name {
    margin-right: auto;
    font-weight: 800;
    font-size: 2rem;
    color: #fff;
    margin-left: 4rem;
    font-family: 'Audiowide', sans-serif;
}

.name a {
    z-index: 99999999;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Audiowide', sans-serif;
}

a:hover {
    text-decoration: underline;
}

header{
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    color: #fff;
    font-size: 6vh;
}

.text{
    background-image: url(Images/saturne.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%; 
    font-family: 'Audiowide', sans-serif;
    z-index: 1;
}

/* MON PIED DE PAGE  */
footer {
    background-color: #000;
    text-align: center;
    padding: 10px;
    width: 100%;
    z-index: 999;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-family: 'Comfortaa', sans-serif;
}

/* PAGE DES DONNEES PERSONNELLES  */
.donnees_persos {
    font-family: 'Comfortaa', sans-serif;
    margin-top: 150px !important; /* Pour pas que ça passe sous la navbar */
    margin: auto;
    width: 80%; /* Pour que ça prenne pas toute la largeur */
    text-align: auto;
    color: #fff;
    display: flex; 
    flex-direction: column; 
    gap: 30px; /* Pour que les paragraphes soient écartés */
}

.donnees_persos h1 {
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Audiowide', sans-serif;
    text-align: center;
    color: #fff;
    margin-bottom: 3rem;
}

.sectiondp{
    background-color: black;
    border : 2px solid white;
    padding : 2em 1.8em ; 
    margin-top: 0.1em;
    margin-bottom: 3rem;
}

.donnees_persos h2 {
    text-align: left; /* Aligner les h2 à gauche */
    font-size: 2em;
}

.donnees_persos ul {
    list-style-position: inside; /* Pour que les points soient au centre */
    /* list-style-type: none; Enlève le commentaire si tu veux supprimer les points */
}

/* PAGE DE LA FAQ */
details {
    width: 50rem;
    background: black;
    color: #fff;
    border: 3px solid #fff;
    padding: 1em 1em;
}

.containerfaq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

details[open] {
    padding-bottom: 1rem;
}

summary{ 
    font-family: 'Audiowide', sans-serif;
    font-weight: bold;
    font-size:  1.5rem;
    display: flex;
    justify-content: space-between;
}

details[open] p {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1rem;
    padding-top: 2em;
}

.open{
    display: none;
}

details[open] .closed{
    display: none;
}

details[open] .open{
    display: block;
}

.h1faq{
    font-family: 'Audiowide', sans-serif;
    font-weight: bold;
    font-size:  3rem;
    margin-top: 11rem;
    margin-bottom: 3rem; 
    text-align: center;
}


/* LE SLIDER  */

.slider {
    position: relative;
}

.slider .container {
display: flex;
align-items: center;
justify-content: center;
}

.titre-diapo {
color: white;
z-index: 1;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;

}

.titre-diapo h1{
    font-family: 'Audiowide', sans-serif;
}

.diapo-reservation {
font-family: 'Comfortaa', sans-serif;
}

.js-slider {
position: relative;
width: 100%;
height: calc(100vh - 7rem);
overflow: hidden;
}

.js-photos {
position: relative;
width: 100%;
height: calc(100vh - 7rem);
left: -100vw;
display: flex;
transition: left 0.3s ease-out;
filter: brightness(20%);
}

.js-photos.no-anime {
transition: none;
}

.js-photo {
position: relative;
background-size: cover;
width: 100vw;
flex: none;
}

.nav-slider {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
display: flex;
justify-content: space-between;
z-index: 2;
}

.prev-btn,
.next-btn {
background-color: rgba(0, 0, 0, 0.5);
color: #fff;
border: none;
cursor: pointer;
padding: 10px;
border-radius: 50%;
}

.prev-btn {
margin-right: 20px;
}