*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(Images/background-image.jpg);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa', sans-serif;
}

.presentation {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}

button, .button, button:hover, .button:hover{
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: 'Comfortaa', sans-serif;
    cursor: pointer;
    text-decoration: none;
}


.article-info a{
    text-decoration: none;
    text-align: center;
}

button:hover, .button:hover{
    background-color: #fff;
    color: #000;
}

/*Je design ma barre menu en appelant l'html que j'ai créé pour ça avec son id navbar*/
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    padding: 2rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

nav button{
    padding: 5px 10px;
    font-size: 0.8rem;
}

nav input{
    padding: 5px 5px;
    font-size: 0.8rem;
}

.name {
    margin-right: auto;
    font-weight: 800;
    font-size: 2rem;
    color: #fff;
    font-family: 'Audiowide', sans-serif;
}

.name a {
    z-index: 99999999;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Audiowide', sans-serif;
}

a:hover {
    text-decoration: underline;
}

header{
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    color: #fff;
    font-size: 6vh;
}

.text{
    background-image: url(Images/saturne.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%; 
    font-family: 'Audiowide', sans-serif;
    z-index: 1;
}

main{
    width: 80%;
    margin: 0 auto;
}
/* MON PIED DE PAGE  */
footer {
    background-color: #000;
    text-align: center;
    padding: 10px;
    width: 100%;
    z-index: 999;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-family: 'Comfortaa', sans-serif;
}

/* PAGE DES DONNEES PERSONNELLES  */
.donnees_persos {
    font-family: 'Comfortaa', sans-serif;
    margin-top: 150px !important; /* Pour pas que ça passe sous la navbar */
    margin: auto;
    width: 80%; /* Pour que ça prenne pas toute la largeur */
    text-align: auto;
    color: #fff;
    display: flex; 
    flex-direction: column; 
    gap: 30px; /* Pour que les paragraphes soient écartés */
}

.donnees_persos h1 {
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Audiowide', sans-serif;
    text-align: center;
    color: #fff;
    margin-bottom: 3rem;
}

.sectiondp{
    background-color: black;
    border : 2px solid white;
    padding : 2em 1.8em ; 
    margin-top: 0.1em;
    margin-bottom: 3rem;
}

.donnees_persos h2 {
    text-align: left; /* Aligner les h2 à gauche */
    font-size: 2em;
}

.donnees_persos ul {
    list-style-position: inside; /* Pour que les points soient au centre */
    /* list-style-type: none; Enlève le commentaire si tu veux supprimer les points */
}

/* PAGE DE LA FAQ */
details {
    width: 50rem;
    background: black;
    color: #fff;
    border: 3px solid #fff;
    padding: 1em 1em;
}

.containerfaq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

details[open] {
    padding-bottom: 1rem;
}

summary{ 
    font-family: 'Audiowide', sans-serif;
    font-weight: bold;
    font-size:  1.5rem;
    display: flex;
    justify-content: space-between;
}

details[open] p {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1rem;
    padding-top: 2em;
}

.open{
    display: none;
}

details[open] .closed{
    display: none;
}

details[open] .open{
    display: block;
}

.h1faq{
    font-family: 'Audiowide', sans-serif;
    font-weight: bold;
    font-size:  3rem;
    margin-top: 11rem;
    margin-bottom: 3rem; 
    text-align: center;
}

.destinations-carousel{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
    gap: 1.5rem;
}

.carousel {
    position: relative;
    width: 40%; 
    margin: 0 auto;
    overflow: hidden;
  }
  
  .track {
    display: flex;
    transition: transform 300ms ease-in-out;
  }
  
  .slide {
    border: 1px solid #ffffff;
    padding: 1rem;
    min-width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
}


.navigation{
    margin-top: 20px;
}

.prev, .next{
    border-radius: 15px;
}

  .destinations-carousel .slide img {
    max-width: 100%;
    height: auto;
    z-index: -1;
  }

.card {
    width: 300px; /* Définissez la largeur fixe des cartes */
    border: 1px solid #ffffff; /* Ajoutez une bordure */
    border-radius: 10px; /* Arrondissez les coins */
    padding: 20px; /* Ajoutez un espace à l'intérieur des cartes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoutez une ombre */
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.card a{
    text-decoration: none;
    color: white;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card-latest{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card img {
    width: 100%; /* Assurez-vous que les images occupent toute la largeur de la carte */
    border-radius: 5px; /* Arrondissez les coins de l'image */
    margin-bottom: 15px; /* Ajoutez un espace en bas de l'image */
}

.card h4 {
    font-size: 1.2rem; /* Taille de la police du titre */
    margin-bottom: 10px; /* Ajoutez un espace en bas du titre */
}

.card p {
    font-weight: 700;    
}

.destinationpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 150px;
}

.destinations-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin-top: 50px;
    margin: 0 auto;
}

.articlepage{
    display: flex;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
    gap: 5rem;
}

.article-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.article-details{
    display: flex;
    align-items: flex-start;
    width: 50%;
}

.article-details img{
    width: 100%;
    border-radius: 10px;
}

.reservation-page{
    margin-top: 200px;
    margin-bottom: 200px;
}

.reservation-container{
    margin-top: 200px;
    margin-bottom: 200px;
    border-radius: 10px;
    border: 2px solid white;
    padding: 2rem;
    width: 50%;
    margin: 0 auto;
}

.reservation-page h3{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
}

.reservation-page form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
}

.reservation-page form #prix{
    display: none;
}

.reservation-page input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: black;
    margin: 15% auto;
    padding: 50px;
    border: 1px solid #ffffff;
    width: 80%;
}

#recap{
    margin-bottom: 20px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.confirmation-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 150px;
    margin-bottom: 150px;
}

.confirmation-container{
    display: flex;
    flex-direction: column;
gap: 2rem;
text-align: center;
}

.confirmation-container li{
    list-style-type: none;
}

.confirmation-container a, .confirmation-container a:hover, .article-info a:hover{
    text-decoration: none;
}

.error{
    color: red;
    margin-top: 250px;
    text-align: center;
}